@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';


body {
  font-family: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1a202c; /* Dark mode background */
  }
}

/* Enable dark mode */
html.dark {
  background-color: #1a202c;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-move {
  background-size: 200% 200%;
  animation: gradient-move 6s infinite;
}
